.side-menu{
    width: 25%;
    height: auto;
    margin: 0px auto;
}

.logo{
    width: 33px;
    height: 33px;
    margin-top: 12px;
    margin-left: 24px;
}

.home-elem{
    display: flex;
    align-items: center;
    gap: 5px;
}

.home-elem p{
    font-size: 18px;
    font-weight: 500;
}

.home-svg{
    width: 30px;
    height: 30px;    
    margin-left: 24px;
}

.tweet-btn{
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(29, 155, 240);
    border: none;
    cursor: pointer;
    width: 180px;
    height: 43px;
    margin-left: 24px;
    border-radius: 100px;

}